![pandas.jpg]()

<div dir=rtl>
<H1>כותרת 1 בעברית עם English, יפה לא?</H1>
<H2>כותרת 2 בעברית</H2>
<H2><B>כותרת 2 מודגשת בעברית</B></H2>
<H3>כותרת 3 בעברית</H3>
<H4>כותרת 4 בעברית</H4>
<H5>כותרת 5 בעברית</H5>
<H6>כותרת 6 בעברית</H6>

In [32]:
import numpy as np
import pandas as pd

# Pandas Series

In [ ]:
data1 = [10,20,30,40]
pd.Series(data=data1)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
index1 = ['a','b','c','d']
pd.Series(data=data1, index = index1)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
pd.Series(data1, index1)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
dic1 = {'e':5,'f':6,'g':7,'h':8}
s1 = pd.Series(data=dic1)
s1

e    5
f    6
g    7
h    8
dtype: int64

In [ ]:
s1['f']

6

# Pandas DataFrame

In [ ]:
np.random.seed(42)
data1 = np.random.randint(-20,20,(5,4))
data1

array([[ 18,   8,  -6, -13],
       [  0,  18,  -2,   2],
       [-10, -10,   3,  15],
       [ 19,   3, -18,   1],
       [-19,   3,   9,  17]])

In [ ]:
columns1 = ['A','B','C','D']
index1 = ['a','b','c','d','e']
df = pd.DataFrame(data=data1, index=index1, columns=columns1)
df

    A   B   C   D
a  18   8  -6 -13
b   0  18  -2   2
c -10 -10   3  15
d  19   3 -18   1
e -19   3   9  17

# Selections

In [ ]:
df['B']

a     8
b    18
c   -10
d     3
e     3
Name: B, dtype: int64

In [ ]:
df[['B','D']]

    B   D
a   8 -13
b  18   2
c -10  15
d   3   1
e   3  17

In [ ]:
df.loc['a']

A    18
B     8
C    -6
D   -13
Name: a, dtype: int64

In [ ]:
df.loc[['a','c','e']]

    A   B  C   D
a  18   8 -6 -13
c -10 -10  3  15
e -19   3  9  17

In [ ]:
df.loc[['a','c','e'],['B','C']]

    B  C
a   8 -6
c -10  3
e   3  9

In [ ]:
df.loc['b':'d','B':'D']

    B   C   D
b  18  -2   2
c -10   3  15
d   3 -18   1

In [ ]:
df

    A   B   C   D
a  18   8  -6 -13
b   0  18  -2   2
c -10 -10   3  15
d  19   3 -18   1
e -19   3   9  17

In [ ]:
df.iloc[[1,3,4]]

    A   B   C   D
b   0  18  -2   2
d  19   3 -18   1
e -19   3   9  17

In [ ]:
df.iloc[1:3]

    A   B  C   D
b   0  18 -2   2
c -10 -10  3  15

In [ ]:
df.iloc[1:3,2:]

   C   D
b -2   2
c  3  15

In [ ]:
# Adding and removing columns and/or rows

In [ ]:
df['E']=df['A']+df['B']+1
df

    A   B   C   D   E
a  18   8  -6 -13  27
b   0  18  -2   2  19
c -10 -10   3  15 -19
d  19   3 -18   1  23
e -19   3   9  17 -15

In [ ]:
df.drop('E',axis=1)

    A   B   C   D
a  18   8  -6 -13
b   0  18  -2   2
c -10 -10   3  15
d  19   3 -18   1
e -19   3   9  17

In [ ]:
df

    A   B   C   D   E
a  18   8  -6 -13  27
b   0  18  -2   2  19
c -10 -10   3  15 -19
d  19   3 -18   1  23
e -19   3   9  17 -15

In [ ]:
df = df.drop('E',axis=1)
df

    A   B   C   D
a  18   8  -6 -13
b   0  18  -2   2
c -10 -10   3  15
d  19   3 -18   1
e -19   3   9  17

In [ ]:
df.drop(['a','c'], axis=0)

    A   B   C   D
b   0  18  -2   2
d  19   3 -18   1
e -19   3   9  17